.rainbow {
    height: 100px;
    width: 100px;
    animation-name: rainbow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* 
.rainbow-2 {
    height: 100px;
    width: 100px;
    animation-name: rainbow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
} */

@keyframes rainbow {
    0%, 100% {
        background-color: red;
    }

    14.3% {
        background-color: orange;
    }

    28.6% {
        background-color: yellow;
    }

    42.9% {
        background-color: green;
    }

    57.2% {
        background-color: blue;
    }

    71.5% {
        background-color: indigo;
    }

    85.8% {
        background-color: purple;
    }
}

.clock {
    display: inline-block;
    font-size: 40px;
    animation: clock 2s linear infinite;
}

@keyframes clock {
    0%, 100% {
        transform: rotateZ(0deg);
        transform-origin: 50% 0%;
        opacity: 1;
    }

    12.5%, 87.5% {
        transform: rotateZ(-10deg);
        transform-origin: 50% 0%;
        opacity: 0.75;
    }

    25%, 75% {
        transform: rotateZ(10deg);
        transform-origin: 50% 0%;
        opacity: 0.5;
    }

    37.5%, 62.5% {
        transform: rotateZ(-5deg);
        transform-origin: 50% 0%;
        opacity: 0.25;
    }

    50% {
        transform: rotateZ(5deg);
        transform-origin: 50% 0%;
        opacity: 0.125;
    }
}

.wrapper {
    width: 800px;
    position: relative;
    overflow: hidden;
}

.wrapper img {
    max-width: 100%;
}

.car-1 {
    width: 75px;
    position: absolute;
    bottom: 35px;
    animation: car-1 10s linear infinite;
}

.car-2 {
    width: 75px;
    position: absolute;
    top: 220px;
    animation: car-2 10s linear infinite;
}

@keyframes car-1 {
    0% {
        right: -75px;
    }

    50%, 100% {
        right: 875px;
    }
}

@keyframes car-2 {
    0%, 50% {
        right: -75px;
    }

    100% {
        right: 875px;
    }
}