@media (max-width: 1024px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .desktop {
        display: none;
    }

    .header {
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0;
    }

    .slider {
        margin-top: 60px;
    }

    .mobile {
        display: block;
    }

    .header .bar {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        cursor: pointer;
    }

    .header .m-menu {
        position: absolute;
        top: 60px;
        width: 100%;
        left: 0;
        background: #f2f3f5;
        border-top: 1px solid black;
        opacity: 0;
        z-index: -1;
        transition: all 0.5s ease;
    }

    .header .m-menu.active {
        opacity: 1;
        z-index: 2;
    }

    .header .m-menu ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .header .m-menu ul li {
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
        padding: 15px;
        cursor: pointer;        
    }
    .header .m-menu ul li:hover {
        background: gray;
        color: white;
    }

    .parent .sub-menu {
        top: 50px;
        left: 0;
        width: 100%;
    }

    .parent:hover .sub-menu {
        display: block;
    }

    .header .m-menu .parent .sub-menu li {
        width: 100%;
        font-size: 12px;
    }

    .slider .item img {
        height: calc(50vh - 30px);
    }

    .carousel-control .control-arrow {
        font-size: 25px;
    }

    .carousel-control .control-arrow.left {
        left: 15px;
    }

    .carousel-control .control-arrow.right {
        right: 15px;
    }

    .carousel-caption .main, 
    .carousel-caption .sub {
        margin-left: 15px;
    }

    .carousel-caption .main {
        font-size: 16px;
    }

    .carousel-caption .sub {
        font-size: 12px;
    }

    .carousel-caption {
        padding: 0;
    }

    .list .item {
        width: 50%;
    }

    .list .item img {
        width: 100%;
    }

    .back-to-top {
        width: 50px;
        height: 50px;
        border-width: 2px;
        font-size: 30px;
    }

    .footer .footer-content > div {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .list .item {
        width: 100%;
    }
}