body {
    margin: 0;
}

.mobile {
    display: none;
}

.clearfix {
    clear: both;
    float: none !important;
}

.header {
    height: 60px;
    background: #f2f3f5;
}

.container {
    width: 1000px;
    margin: auto;
}

.header .container {
    height: 100%;
}

.header .logo {
    margin-top: 8px;
    float: left;
}

.menu {
    float: left;
    height: 100%;
    margin-left: 50px;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    padding: 16px 25px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.menu ul li:hover {
    color: white;
    background-color: gray;
}

.parent {
    position: relative;
}

.parent .sub-menu {
    position: absolute;
    top: 60px;
    left: -20px;
    background-color: #f2f3f5;
    width: 150px;
    text-align: center;
    z-index: 1;
    display: none;
}

.parent .sub-menu li {
    display: block;
    color: black;
}

.menu ul li:hover .sub-menu {
    display: block;
}

.header .search {
    float: right;
    font-size: 30px;
    margin-top: 10px;
}

.slider .item img {
    width: 100%;
    height: calc(100vh - 60px);
}

.carousel-control .control-arrow {
    font-size: 40px;
    position: absolute;
    top: 50%;
}

.carousel-control .control-arrow.left {
    left: 50px;
}

.carousel-control .control-arrow.right {
    right: 50px;
}

.carousel-control:focus, .carousel-control:hover,
.carousel-control.right, .carousel-control.left {
    background: none;
}

.carousel-caption {
    width:100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
}

.carousel-caption .main,
.carousel-caption .sub {
    margin-left: 100px;
}

.carousel-caption .main {
    font-size: 32px;
    font-weight: bold;
}

.carousel-caption .sub {
    font-size: 20px;
    font-style: italic;
}

.content .container {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0;
}

.content .title {
    float: left;
    margin: 8px 15px;
    padding: 6px 16px;
    border: 1px solid black;
    background: #ff0eee;
}

.content .controls {
    float: right;
    margin: 11px 15px;
}

.content .controls button,
.content .paging button {
    background: none;
    border: 1px solid black;
}

.content .controls button:focus,
.content .paging button:focus {
    outline: none;
}

.list .item {
    width: 33.33%;
    float: left;
    margin: 15px 0;
}

.list .item > div {
    padding: 0 15px;
}

.list .item .image {
    overflow: hidden;
}

.list .item .image img {
    max-width: 100%;
}

.list .item h4 {
    font-weight: bold;
}

.list .item p {
    font-style: italic;
}

.content .paging {
    margin-left: 15px;
    float: left;
    margin-bottom: 15px;
}

.content .paging button {
    width: 24px;
    text-align: center;
}

.content .page {
    float: right;
    margin-right: 15px;
}

.footer .footer-content {
    background: #999999;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

.footer .footer-content > div {
    width: 33.33%; 
    float:left;
}

.footer .footer-content > div > div {
    padding: 0 15px;
}

.footer .logo {
    margin-top: 15px;
}

.footer .description {
    margin-top: 15px;
    color: white;
}

.footer .contact {
    color: white;
}

.footer .container {
    padding: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.footer .social .icon {
    display: inline-block;
    font-size: 40px;
    color: white;
    margin-right: 15px;
}

.footer .label {
    display: inline-block;
    margin-top:15px;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    background: skyblue;
    padding: 8px 20px;
    border: 1px solid black;
    font-weight: normal;
    border-radius: 0;
    margin-bottom: 15px;
}

.footer .more-news {
    margin-bottom: 15px;
}

.footer .more-news .image {
    width: 25%;
    float: left;
}

.footer .more-news .image img {
    max-width: 100%;
}

.footer .more-news .text {
    width: 75%;
    float: left;
    padding-left: 15px;
    color: white;
}

.footer .new-category p {
    color: white;
}

.footer .new-category p span {
    float:right;
}

.footer .sub {
    background: #8e7cc3;
    padding: 15px;
}

.back-to-top {
    background: white;
    border: 6px solid black;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 40px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.list .item .image.animation1 img {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.list .item .image.animation1 img:hover {
    transform: scale(1.2);
}

.list .item .image.animation2 {
    position: relative;
}

.list .item .image.animation2 span {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    color: yellow;
    opacity: 0;
    transition: opacity 1s linear;
}

.list .item .image.animation2:hover span {
    opacity: 1;
}

.list .item .image.animation3 {
    position: relative;
}

/*
Hiệu ứng slide từ trái sang:
width: 0 => 400px;
heigh: 100%;
** Từ phải sang thì thêm right: 0

Hiệu ứng slide từ trên xuống:
width: 100%;
height: 0 => 200px
** Từ dưới lên thì thêm bottom: 0
*/

.list .item .image.animation3 > div {
    height: 100%;
    /* height: 0px; */
    /* width: 100%; */
    width: 0px;
    position: absolute;
    right: 0;
    /* bottom: 0; */
    background: black;
    /* opacity: 0; */
    opacity: 0.5;
    transition: all 1s linear;
}

.list .item .image.animation3:hover > div {
    /* opacity: 0.5; */
    width: 400px;
    /* height: 200px; */
}

.list .item .image.animation4 {
    position: relative;
}

.list .item .image.animation4 > div {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    height: 20px;
    width: 100%;
    overflow: hidden;
}

.list .item .image.animation4 > div span {
    transition: all 1s linear;
    position: absolute;
    top: 100%;
}

.list .item .image.animation4:hover > div span {
    top: 0%;
}

/* CSS for file html.html */
.custom-table th,
.custom-table td {
    min-width: 200px;
    padding: 8px 16px;
    /* border: 1px solid black; */
    border-left: 1px solid black;
    border-top: 1px solid black;
}

/* .custom-table tr.last td { */
.custom-table tr:last-child td {
    border-bottom: 1px solid black;
}

.custom-table tr td:last-child,
.custom-table tr th:last-child {
/* .custom-table .last { */
    border-right: 1px solid black;
}

.style-table th,
.style-table td {
    min-width: 200px;
    padding: 8px 16px;
}

/* .style-table th, */
.style-table tr:first-child th {
    text-align: left;
    font-size: 20px;
    background-color: #fff;
}

/* .style-table .even, */
.style-table tr:nth-child(2n) {
    background-color: #f2f5f7;
}

/* .style-table .odd, */
/* .style-table tr:nth-child(2n+1) {
    background-color: #dddddd;
} */

.style-table tr:hover {
    background: #8e7cc3;
}

/* CSS for form.html */
.input-style-1 input {
    width: 300px;
    padding: 8px 10px 6px;
    border-radius: 5px;
    border: 1px solid grey;
    transition: border-color 0.5s ease;
}

input:disabled {
    cursor: not-allowed;
}

.input-style-1 input:hover,
.input-style-1 input:focus {
    outline: none;
    border-color: red;
}

.input-style-2,
.input-style-3 {
    position: relative;
    overflow: hidden;
}

.input-style-2 input {
    border: none;
    width: 300px;
    padding: 8px 10px 6px;
}

.input-style-2 input:hover,
.input-style-2 input:focus {
    outline: none;
}

.input-style-2 span {
    border-bottom: 2px solid red;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s ease;
}

.input-style-2 input:hover + span,
.input-style-2 input:focus + span {
    width: 320px;
}

.input-style-3 textarea {
    width: 300px;
    padding: 8px 10px 6px;
    resize: none;
    background-color: transparent;
}

.input-style-3 textarea:hover,
.input-style-3 textarea:focus {
    outline: none;
}

.input-style-3 span {
    background-color: skyblue;
    position: absolute;
    width: 322px;
    height: 0;
    left: 0;
    bottom: 2px;
    transition: height 0.5s ease;
    z-index: -1; 
}

.input-style-3 textarea:hover + span,
.input-style-3 textarea:focus + span {
    height: 100px;
}
